<%= link_to post_path(post), class: "block", id: dom_id(post) do %>
  <div class="bg-white rounded-lg shadow-md overflow-hidden p-6 mb-5 cursor-pointer">
    <p class="my-4">
      <span class="text-gray-700"><%= post.title %></span>
    </p>

    <p class="my-4">
      <span class="text-gray-700"><%= post.desc %></span>
    </p>

    <p class="my-4">
      <span class="text-gray-700"><%= post.keywords %></span>
    </p>

    <% if action_name != "show" %>
    
      <hr class="my-6">
    <% end %>
  </div>
<% end %>
